services:
  snmp-viewer:
    build: .
    container_name: snmp-viewer
    ports:
      - "3000:3000"
    volumes:
      - ./mibs:/usr/src/app/mibs
      - ./public:/usr/src/app/public
      - ./lib:/usr/src/app/lib
      - ./server.js:/usr/src/app/server.js
      - ./settings.json:/usr/src/app/settings.json
      - ../tomls:/usr/src/app/telegraf.d
    restart: unless-stopped
    depends_on:
      - influxdb

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=password123
      - DOCKER_INFLUXDB_INIT_ORG=bkns
      - DOCKER_INFLUXDB_INIT_BUCKET=snmp-data
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-auth-token
    volumes:
      - influxdb-data:/var/lib/influxdb2
    restart: unless-stopped

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    restart: unless-stopped
    depends_on:
      - influxdb

volumes:
  influxdb-data:
  grafana-data:
